%p#notice= notice

%p
  %b Name:
  = @order.name
%p
  %b Phone:
  = @order.phone
%p
  %b Address:
  = @order.address
%p
  %b Food item:
  = @order.food_item

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
